[submodule ".registry"]
	path = .registry
	url = https://github.com/emmottlab/emmottlab.r-universe.dev
	branch = HEAD
[submodule "scpImaging"]
	path = scpImaging
	url = https://github.com/emmottlab/scpImaging
